* {
    margin: 0px;
    padding: 0px;
}

.set-element {
    width: 80%;
    margin: 0 auto;
}

                /* Body */
body {
    font-family: sans-serif;
    background-color: #0F0F10;
}
                /* Navbar section */
header {
    background-color: #0F0F10;
    color: #ffffff;
    display: flex;
    justify-content: space-around;

}

.main-logo {
    margin: 20px;
}

.nav-bar-lists {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-bar-lists a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 14px;
    font-weight: 600;
}

.nav-bar-lists button {
    padding: 10px 40px;
    background-color: #1E1E21;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.nav-list-items:last-child {
    padding-left: 5vw;
}

.nav-bar-lists button:hover {
    background-color: #19191a;
}

.menu-bar-btn {
    width: 20px;
    fill: white;
    display: none;
}
                /* Introduction Section */
.introduction {
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 5vw;

}
img[alt="mainImage"] {
    position: relative;
    top: -180px;
    /* width: 250px; */
    height: 600px;
}

.intro-text {
    width: 30vw;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

img[alt="onEar"] {
    position: relative;
    left: 60px;
}

.intro-heading {
    font-size: 70px;
}

.intro-text p {
    color: #99999f;
    line-height: 30px;
}

.intro-btn {
    width: fit-content;
    background-color: #1E1E21;
    border-radius: 5px;
    border: none;
    padding: 15px 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.intro-btn:hover {
    background-color: #1e1e21a2;
}

.intro-btn span {
    font-weight: 800;
    font-size: 18px;
}

                /* Partner logo Section  */
.partners {

    text-align: center;
}

.partners img {
    width: 80px;
    padding: 15px 50px;
}
                /* Specification Section */
.specs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

.specs-heading {
    margin: 30px 0px;
}

.specs-middle {
    display: flex;
    gap: 50px;
}

.specs-list div {
    color: #ffffff;
    margin: 18px 0px;
}

.specs-same {
    position: relative;
    left: 30px;
}

.specs-list small {
    color: gray;
}

.specs-list h4 {
    padding: 3px 0px;
}

.specs-img {
    margin: auto;
}
                /* Case Section */
.case {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.case-des {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 60px 0px 0px;
}

.case-txt {
    width: 17%;
}

.case-txt p {
    color: gray;
    font-size: 14px;
    line-height: 20px;
}

.case-txt button {
    background-color: #1e1e21;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    margin: 40px 0px;
    color: #ffffff;
    cursor: pointer;
}
.case-txt button:hover {
    background-color: #1e1e21a2;
}

.case-txt img {
    vertical-align: middle;
    margin-right: 4px;
}

                /* Immerse Section */
.immerse {
    width: 55%;
    display: flex;
    margin: 0px auto 60px;
    background-color: #181A1B;
    border-radius: 7px;
    padding: 20px 30px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.immerse-img {
    width: 35%;
}

.immerse-img img {
    width: 100%;
}

.immerse-heading {
    width: 75%;
    line-height: 30px;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
}

.immerse-discount {
    font-size: 14px;
    color: #808080;
    font-weight: 500;
    margin: 20px 0px;
}

.immerse-txt button {
    width: fit-content;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
.immerse-txt button:hover {
    background-color: #000000a5;
}

.immerse-txt button img {
    vertical-align: middle;
    margin-right: 10px;
}
            /* Choose Styles  */

.choose-style {
    margin: 100px auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styles-option {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
}

.styles {
    width: 23%;
    background-color: #181A1B;
    height:fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 25vh;
    border-radius: 7px;
    margin: 6% 5%;
}

.style-price{
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 80%;
    margin: 10px auto;
    justify-content: space-between;
}
.style-price p {
    color: #ffffff;
    font-weight: 600;
}
.style-price button {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.style-price button:hover {
    background-color: #000000a5;

}
.style-price span:last-child {
    position: relative;
    bottom: -10px;
}
.styles-first-block img {
    width: 55%;
    position: absolute;
    top:-30%;
    left: 22%;
}

                /* Footer */

footer {
    display: flex;
    justify-content: center;
    gap:150px;
    padding: 80px 0px;
    position: relative;
}

footer ul{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: #99999f;
    font-size: 14px;
}

.heading-f-a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.heading-f-li {
    margin-bottom: 10px;
}

.f-li {
    margin-bottom: 7px;
}

.footer-part-4 form {
    background-color: #181A1B;
    padding: 8px 15px;
    border-radius: 7px;
}

.footer-part-4 form input {
    background-color: #181A1B;
    padding: 10px 5px;
    color: white;
    border: none;
    outline: none;
}

.footer-part-4 form input::placeholder {
    color : rgb(217, 217, 217);
    font-weight: 600;
}
.footer-part-4 form input:focus{
    transition: 0.2s;
    outline: 1px solid #555;
}

.footer-part-4 div {
    margin-top: 20px;
}

.footer-part-4 div a{
    text-decoration: none;
    margin-right: 10px;
}

.footer-part-4 button {
    vertical-align: middle;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
    border:none;
}

.footer-part-4 button:hover {
    background-color: #000000a5;
}
.footer-part-4 button img {
    vertical-align: middle;
    padding-right: 8px;
}

.twitter-logo {
    width: 20px;
    position: absolute;
    left: 80px;
    top:50%;
}

.backToTop {
    background-color: #181A1B;
    width: 20px;
    position: absolute;
    bottom: 50px;
    right: 20px;
    border-radius: 5px;
    padding: 5px 8px;
}

.backToTop svg{
    fill: #ffffff;
    vertical-align: middle;
}


/* --------------- Media Queries ---------------- */
@media (max-width : 500px) {
    header {
        justify-content: space-between;
    }

    .nav-bar-lists {
        display: none;
    }

    .menu-bar-btn {
        display: block;
        padding: 0px 25px;
    }

    .introduction {
        background-image: url(./Photos/mainImage.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
    }

    img[alt="mainImage"] {
        display: none;
    }

    .intro-text {
        width: 90vw;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 25px;

    }

    img[alt="onEar"] {
        display: block;
        position: static;
    }

    .intro-heading {
        font-size: 60px;
    }

    .intro-text p {
        color: #d9d9de;
        line-height: 25px;
    }
    .styles {
        width: 40%;
    }

    /*------- specification---- */
    .specs-middle {
        flex-direction: column-reverse;
    }
    .specs-same {
        position: static;
    }
    .specs-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 3rem;
        margin: 0;
    }
    .specs-img {
        width: 60%;
    }
    .specs-img img {
        width: 100%;
    }

    /* ----------- Footer ------------- */
    footer {
        flex-direction: column;
    }
}