/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
body {
    font-family: Orbiton;
    margin: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-container div img {
    margin-left: 40px;
    width: 140px;
}

.list {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.list-item {
    margin: 20px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.list-item:first-child {
    font-size: larger;
    font-weight: bolder;
    margin-top: 18px;
}

.list-item:first-child::before {
    content: "";
    position: absolute;
    width: 8%;
    left: 67px;
    bottom: 18px;
    border: 1px solid black;

}

.button-group {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-button {
    background-color: white;
    color: gray;
    font-size: 19px;
    border-radius: 10px;
    width: 140px;
    height: 35px;
    margin-left: -90px;
    cursor: pointer;
}

.hero-container {
    /* border: 1px solid black; */
    position: relative;
    /* height: 600px; */
}

img[alt="person-hero-iamge"] {
    position: absolute;
    width: 25%;
    height: 440px;
    top: 50px;
    left: 100px;

}

.square img {
    position: relative;
    width: 250px;
    top: 280px;
    left: 235px;
}

.globe img {
    width: 60%;
}

.globe {
    position: absolute;
    top: 20px;
    left: 53%;

}



.star:nth-child(2) {
    /* border: 1px solid black; */
    position: absolute;
    left: 85%;
    top: 40px;
}

.star:nth-child(2) img {
    width: 45px;
}

.star:nth-child(3) {
    /* border: 1px solid black; */
    position: absolute;
    left: 38%;
    top: 475px;
}

.star:nth-child(3) img {
    width: 38px;
}

.hero-heading {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 80px;
    right: 10%;
    font-size: 45px;
}

.hero-description {
    position: absolute;
    width: 40%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: gray;
    top: 200px;
    right: 13%;
}

.button-email {
    position: absolute;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    color: gray;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    width: 170px;
    height: 28px;
    right: 30%;
    top: 330px;
    border: 2px solid rgb(83, 80, 80);
    cursor: pointer;
}

.button-join {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    width: 120px;
    height: 28px;
    top: 330px;
    right: 20%;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.contact-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: gray;
    position: absolute;
    top: 400px;
    right: 28%;
}

.icons {
    position: absolute;
    top: 460px;
    right: 22%;
}

.icons img {
    cursor: pointer;
    width: 15%;
    margin-left: 10px;
}