@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {

    /* General Styles */

    /* ------colors----- */
    --main-color: #722ED1;
    --text-clr-white: #ffffff;
    --text-clr-h1: #080809;
    --text-clr-h2: #0E0030;
    --text-clr-para-light: #a3a3b6;
    --text-clr-para: #848489;
    --text-clr-list-items: #181818;


    /* font sizes and font-family */
    --font-family: 'Poppins',
        sans-serif;
    --font-size-s: .90rem;
    --font-size-2: 1.1rem;
    --font-size-m: 1.3rem;
    --font-size-l: 2rem;
    --font-size-xl: 3rem;

    --transition: all .5s ease-in-out;

}

/* --------- Reset ----------- */
*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



/* ---------- Common Sytling------------ */

.set-element {
    width: 80%;
    margin: 0 auto;
}

.nowrap {
    white-space: nowrap;
}

.feature-heading {
    background-color: #F7F0FF;
    width: fit-content;
    padding: .5rem 1.5rem;
    border-radius: 25px;
    color: var(--main-color);
    font-weight: 500;
}
.feature-heading img {
    vertical-align: middle;
    margin-right: 1rem;
}

/* -------------- Main Styling -------------- */

html {
    font-size: var(--font-size-s);
}

header {
    background: linear-gradient(to bottom, #FFFFFF, #cedfe19e);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    /* height: 80vh; */
}

/* -------- Navbar ---------- */

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem auto 0rem;
}

.nav-logo img {
    width: 100%;
}

.nav-links {
    background-color: var(--main-color);
    width: 100%;
    text-align: center;
    position: absolute;
    right: 0;
    top: 5rem;
}

.hamburger-btn {
    display: grid;
    padding: 0.25rem;
    position: absolute;
    right: 2rem;
    border: none;
    z-index: 10;
}

.nav-links li a {
    display: block;
    color: var(--text-clr-white);
    text-align: center;
    padding: .75rem;
    font-weight: 500;
    border-bottom: 0.5px solid #ffffff;
    border-top: 0.5px solid var(--main-color);
}
.nav-links a:hover {
    background-color: var(--text-clr-white);
    color: var(--main-color);
    transition: var(--transition);
}

.nav-btn {
    background-color: #ffffff;
    padding: .125rem .75rem;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 1rem;
    border-radius: 8px;
    margin: 0.75rem 0 .75rem;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
}
.nav-btn:hover {
    background-color: aliceblue;
}

.nav-links-show {
    display: none;
}

/* -------intro Section------- */

.intro {
    padding: 5rem 0;
}

.intro-version {
    background-color: #eae2ec;
    width: fit-content;
    padding: .5rem 1rem;
    margin: 1rem 0;
    border-radius: 20px;
    color: var(--main-color);
    display: flex;
}
.intro-version img {
    margin-right: 10px;
}
.intro-version span {
    text-decoration: underline;
    cursor: pointer;
    text-indent: .3rem;
}

.intro-heading {
    text-transform: capitalize;
    color: var(--text-clr-h1);
}

.intro-para {
    width: 80%;
    line-height: 1.5;
    color: var(--text-clr-para);
    margin: 1rem 0 1.5rem;
}

.intro-btn {
    padding: .5rem 1rem;
    border-radius: 50px;
    border: none;
    font-weight: 500;
}

.start-btn {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--text-clr-white);  
    transition: var(--transition);
}
.start-btn:hover {
    background-color: var(--text-clr-white);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.learn-btn {
    background-color: var(--text-clr-white);
    color: var(--main-color);
    margin-left: .5rem;
    border: 1px solid var(--main-color);
    transition: var(--transition);
}
.learn-btn:hover {
    background-color: var(--main-color);
    color: var(--text-clr-white);
}

.intro-img img {
    width: 100%;
}
.intro-img {
    display: none;
}

/* --------- steps sections------------ */

.steps {
    margin-top: 100px;
    text-align: center;
    margin: 4rem auto;
}

.steps p{
    color: var(--text-clr-para);
}

.steps-first {
    margin: 3rem auto;
}
.steps-first p:first-child {
    margin: 0 auto;
}

.steps-heading{
    color: var(--text-clr-h2);
    margin: 1rem auto;
}

.steps-second {
    margin: 5rem auto;
}
.steps-second h3 {
    color: var(--text-clr-h2);
    margin: 0.5rem auto;
}

.stp {
    width: 80%;
    margin: 2rem auto;
}

/* ----------- Teams Sections -------------- */

.product-team-img, .product-team-img img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
.product-team {
    margin: 5rem auto;
}
.product-team-txt {
    margin-top: 3rem;
}

.engineering-team-img, .engineering-team-img img{
    width: 90%;
    display: block;
    margin: 0 auto;
}
.engineering-team {
    margin: 5rem auto;
}
.engineering-team-txt {
    margin-top: 3rem;
}

.teams-para {
    color: var(--text-clr-para);
}

.teams h2 {
    color: var(--text-clr-h2);
    margin: 1rem auto;
}

/* ---------- CTO Review ------------ */

.cto {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    background: linear-gradient(to bottom, #fffcfc, #d0e7ea);
    padding: 5rem 0;
    /* height: 80vh; */
}

.cto-review {
    text-align: center;
}

.cto-review-txt {
    font-size: 19px;
    font-weight: 500;
}

.cto-img {
    margin: 1rem auto;
}

.cto-name {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 16px;
}

.cto-review hr {
    margin: 1rem;
}

.cto-logos img{
    margin: 1rem .5rem;
}

/* ----------- World-best Section------------ */
.world-best {
    margin: 10rem auto;
}

.world-best-left {
    margin: 5rem auto;
}
.world-best-left h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-clr-h2);
    line-height: 1.5;
}
.trusted-by{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}
.trusted-by hr {
    width: 35%;
    height: 1px;
}

.trusted-logos{
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.sign-up {
    margin: 8rem auto 5rem;
    text-align: center;
}

.sign-up-bg {
    background-color: #f9f0ff;
    display: flex;
    justify-content: center;
    border-radius: 3px;

}
.sign-up-form {
    box-shadow: 5px -10px 10px -10px rgba(59, 58, 58, 0.23);
    position: relative;
    bottom: 20px;
    width: 85%;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 2rem;
}

.sign-up form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.sign-up-form h3 {
    font-size: 21px;
    color: var(--text-clr-h2);
    margin-bottom: 1rem;
}

.free-trial{
    background-color: var(--main-color);
    border: none;
    padding: .75rem 0rem;
    border-radius: 3px;
    color: var(--text-clr-white);
    cursor: pointer;
}
.free-trial:hover {
    opacity: 0.9;
    transition: var(--transition);
}

.form-input {
    padding: .5rem;
    border: 1px solid var(--text-clr-para-light);
    border-radius: 3px;
    outline: none;
}

.form-input::placeholder {
    color: var(--text-clr-para-light);
}

.or {
    margin: 1rem auto;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-clr-h2);
}

.sign-up hr {
    height: 1px;
    background-color: var(--text-clr-para-light);
    margin: 1rem auto;
}
.sign-up img {
    cursor: pointer;
}
.sign-up img:hover {
    opacity: 0.8;
    transition: var(--transition);
}

.sign-up p:last-child {
    color: var(--text-clr-para-light);
}

.sign-up a:last-child {
    color: var(--main-color);
}
.sign-up a:last-child:hover {
    opacity: 0.8;
    transition: var(--transition);
}

/* ---------- Footer Section --------------- */

footer {
    background-color: #FBFCFF;
}
footer .set-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 3rem 1rem;
    color: var(--text-clr-para);
    
}
footer a {
    color: var(--text-clr-para);
}
footer a:hover{
    color: var(--text-clr-para-light);
    transition: var(--transition);
}

.logo-footer {
    order: -2;

}

.social-media img{
    margin-right: 1rem;
    cursor: pointer;
}
.social-media img:hover {
    opacity: 0.5;
    transition: var(--transition);
}
.logo-footer p{
    margin: 1rem 0;
}

footer ul:last-child {
    order: -1;
    display: block;
    width: 100%;
}

footer ul li:first-child {
    color: #080809;
    font-weight:600;
    margin-bottom: 1rem;
}

footer ul li {
    margin-bottom: 0.5rem;
}

.newsletter li:last-child{
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 0;
    background-color: var(--text-clr-white);
    box-shadow: 1px 0px 2px #838383;
}

.newsletter img {
    vertical-align: middle;
    margin-left: .5rem;
    cursor: pointer;
}
.newsletter input {
    border: none;
    outline: none;
    padding: 0.25rem 1rem;
}
.newsletter input::placeholder {
    color: var(--text-clr-para-light);
}

@media screen  and (min-width: 490px){
    footer .set-element {
        column-gap: 3rem;
    }
}

@media screen and (min-width: 510px) {
    footer .set-element {
        column-gap: 5rem;
    }
    .sign-up-form {
        width: 90%;
    }
}

@media screen and (min-width: 755px) {
    html {
        font-size: var(--font-size-2);
    }
    .hamburger-btn {
        display: none;
    }
    .nav-links {
        display: flex;
        background-color: inherit;
        position: static;
        color: var(--text-clr-list-items);
        width: fit-content;
        align-items: center;
        gap: .5rem;
    }
    .nav-links ul {
        display: flex;
    }
    .nav-links li a {
        color: var(--text-clr-list-items);
        border: none;
        padding: .5rem;
    }
    .navbar {
        flex-direction: row;
        align-items: center;
    }
    .nav-btn {
        border: 1px solid var(--main-color);
        border-radius: 50px;
        padding: .5rem .5rem;
    }
    .nav-btn:hover {
        background-color: var(--main-color);
        color: var(--text-clr-white);
        transition: var(--transition);
    }

    /* ------- intro section-------- */
    .intro {
        display: flex;
        align-items: center;
        gap: 5rem;
    }

    .intro-img {
        display: block;
    }
    /* ------------ steps -------------- */
    .steps-second {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .steps-second h3 {
        margin: 1.5rem auto;
    }

    /* -------- Teams Sections ----------- */
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 1.25rem;
    }

    /* ------ navbar section ------- */
    .nav-links {
        gap: 1.5rem;
    }
    .nav-links li a {
        padding: 0;
    }
    .nav-links ul {
        gap: 2rem;
    }
    
    .nav-btn {
        padding: .25rem .5rem;
    }

    /* ------ intro section ------- */
    .intro-txt {
        width: 50%;

    }
    .intro-img {
        width: 30%;
    }
    .product-team {
        display: flex;
        justify-content: space-evenly;
    }
    .product-team-img {
        width: 40%;
    }
    .product-team-txt {
        width: 50%;
    }
    .engineering-team {
        margin-top: 10rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .engineering-team-img {
        width: 40%;
    }
    .engineering-team-txt {
        width: 50%;
    }
    /* ---------- CTO Review ----------- */

    .cto-logos img {
        margin: 1.5rem 2rem;
    }

    .cto-review-txt {
        width: 80%;
        margin: 0 auto;
    }

    /* --------- world-best section-------- */

    .world-best {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem auto;
    }
    .world-best-left {
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    .sign-up {
        width: 45%;
    }
    .trusted-by {
        width: 100%;
    }
    .trusted-logos {
        gap: 5rem;
    }

    /* ------ foooter -------- */
    footer .set-element {
        font-size: 16px;
        row-gap: 0rem;
        column-gap: 0rem;
        gap: 0rem;
        flex-wrap: nowrap;
        padding: 3rem 0;
    }
    .logo-footer {
        width: 25%;
        order: 0;
    }
    
    .social-media img{
        
        width: 10%;
    }

    footer ul:last-child {
        order: 0;
        width: fit-content;
    }
    .newsletter li:last-child {
        padding: 0.25rem 0.5rem;
    }
    .newsletter img {
        margin-left: 0;
    }
    .newsletter input {
        padding: 0;
    }

}

