div {
    border: 1px solid black;

}

h1 {
    border-left: 1px solid blue;
    border-right: 1px dashed green;
    border-top: 5px double yellow;
    border-bottom: 2px dotted red;
    width: 50%;
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 80px;
    margin-left: 30px;
    border-radius: 20px;
}

.para1 {
    width: 50%;
    border: 5px double pink;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
    border-radius: 30px;
    outline: 5px solid purple;
    outline-offset: -10px; /* -ve value for inside of element border */
}

/* Creating a circle using border radius */
.circle {
    border: 5px double springgreen;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}