@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img { display: block; }  /* for reset img padding  */

.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -1000px;
}

body {
    font-family: "Nunito", sans-serif;

    /* background-image: url("./img/bubbles.png"), linear-gradient(to left, steelblue, #fff);
    background-repeat: repeat-y, no-repeat;
    background-position: right center;
    background-size: 20%, auto; */
    /* background: repeat-y right center url("../img/bubbles.png"), no-repeat linear-gradient(to left, steelblue, #fff); */
}
.container {
    background-color: rgb(251, 210, 156);
    background-image: url('./img/map-2176x1451.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.hero {
    border: 2px solid #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    background-color: hsla(0, 0%, 100%, 0.2);
}

h1{
    font-size: 500%;
    color: aliceblue;
    text-shadow: 3px 3px 5px #000;
    /* background-color: hsla(0, 0%, 0%, 0.5); */
    padding: 0.25rem;
    
}

.profile-pic-figure {
    width: 35%;
 }

.profile-pic-figure img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

.example {
    margin-top: 1rem;
    padding-left: 1rem;
    border: 1px solid red;
}

.example img {
    width: 25%;
    height: auto;
}

.clip {
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url("./img/scenic-2200x1331.png");
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}