@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Utility Classes */
.nowrap {
    white-space: nowrap;
}

/* General Style */
html {
    scroll-behavior: smooth;
}

body {
    font: 1.5rem "Nunito", sans-serif;
    min-height: 100vh;

    background-color: #6bd8c8;
    background-image: radial-gradient(whitesmoke, #6bd8c8);
    display: flex;
    flex-direction: column;
}

:is(.header,       /* :where is not specific */
footer){           /* :is is more specific */
    position: sticky;
    background-color: #50afad;
    color: #333;
    text-align: center;
}


header {
    top: 0;
    color:red;
}

nav {
    background-color: #fff;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}

nav a:is(:link,:visited) { /* Pseudo Classes */
    color: #333;
    /* text-decoration: none; */
}
nav a:hover,   
nav a:focus {              /* Pseudo Classes */
    color: hsla(0, 0%, 20%, 0.6);
}
nav a:active {            /* Pseudo Classes */
    color: red;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

footer {
    bottom: 0;
}

/* Profile Card */
.card {
    scroll-margin-top: 8rem;
    width: min(100%, 350px);
    background-color: #cbd5e1;
    border: 2px solid #333;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:target { 
    border: 2px solid red;
}
.card figure {
    display: flex;
    flex-flow: column nowrap;
}

.card img:not([alt]) {
    border: 3px solid yellowgreen;
}
.card img {
    border: 5px double #333;
    border-radius: 50%;
}

.card:nth-child(odd) {
    background-color: darksalmon;
}

.card figcaption {
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

.card figcaption::after {
    content: '✨';
    display: block;
}
/* .card figcaption::before {
    content: '✨';
    display: block;
} */

.card figcaption::first-letter {
    font-size: 3rem;
}

.card figcaption::first-line {
    color:red;
}

.card p{
    position: relative;
}

.card p::before{
    content: open-quote;
    font-size: 3em;
    position: absolute;
    top:-0.25em;
    left: -0.5em;
}
.card p::after{
    content: close-quote;
    font-size: 3em;
    position: absolute;
    top: -0.25em;
    right: -0.5em;

}

/* Small min-width:576px */

@media screen and (min-width:576px) {
    main {
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
    }

    .card {
        width: min(100%, 400px);
    }

    .card:last-child { /* Pseudo Classes */
        order: -1;
    }
}

/* Medium min-width:768px */
@media screen and (min-width:768px) {
    nav {
        display: none;
    }

    .card {
        width: min(100%, 325px);
    }

    .card figure {
        flex-flow: column-reverse;
    }

    .card p {
        margin-top: 1rem;
    }
}


/* Large min-width:992px */
@media screen and (min-width:992px) {
    .card {
        width: min(100%, 400px);
    }

    .card:nth-child(2) { /* Pseudo Classes */
        order: -1;
    }
}

/* XL min-width:1200px */
@media screen and (min-width:1200px) {
    .card {
        width: min(33% - 1rem, 500px);
    }
}

/* Mobile Device Landscape */

@media screen and (max-height:425px) and (min-aspect-ratio:7/4) {
    h1 {
        font-size: 1.5rem;
    }

    nav {
        display: none;
    }

    main {
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .card {
        width: min(33% - .25rem, 200px);
    }

    .card figcaption,
    .card p {
        font-size: 1.25rem;
    }

}