@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;

}

img {
  width: 100%;
}
