
/* ++++++++++++++ Reset +++++++++++++++ */
::after,
::before,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,a {
    text-decoration: none;
    list-style-type: none;
}

/* Varialbes */

:root{
    /* color */
    --input-bgcolor : #5654D1;
    --btn-color: #6663E9;
    --btn-color-hover: #6563e9bb;
    --heading-color-dark: #27292E;
    --heading-color-light: #ffffff;
    --text-color-gray : #bebebe;
    --text-color-gray2: #797D84;
    --text-color-gray-light: #d2d2d2;
    --text-color-dark : #3B404D;
    --text-color-blue : #5855E6;
    --text-color-white : #ffffff;
    --text-color-price : #6966E8;
    --bgcolor : #F6F8FA;


    /* font size */
    --font-size-xs :0.75rem;
    --font-size-s :0.875rem;
    --font-size-m :1rem;
    --font-size-m2 : 1.5rem;
    --font-size-l :2rem;
    --font-size-xl :3rem;
    --font-size-xxl :4rem;

    /* box shodow */
    --box-shadow : 0px 0px 5px #0000007c;

    /* border-radius */
    --border-radius-btn: 35px;
    --border-radius-btn2:25px;
    --border-radius-compo :20px;
    --border-radius-f-img : 50px;
    --border-radius-newsletter: 70px;

    /* transition */
    --transition : all 0.4s ease;
}

body {
    font-family: sans-serif;
    font-size: var(--font-size-s);
}

/*
  ++++++++++++++++++
    Header section
  ++++++++++++++++++
*/

header {
    background-image: url("./Photos/mainBackground.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-bgcolor {
    background-color: rgba(0, 0, 0, 0.601);
    padding: 1.5rem 4rem;
}

/* ++++++++++++++++ navbar ++++++++++++++++ */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav li {
    padding: 0.5rem;
}

nav li:hover {
    transition: var(--transition);
    transform: scale(1.1);
}

nav a {
    font-size: var(--font-size-m);
    color: var(--text-color-gray);
    font-weight: 600;
    transition: var(--transition);
}

nav a:hover {
    color: var(--text-color-white);
}

.nav-break {
    margin: 1.5rem 0;
    /* height: .1rem; */
    border-color: #cfcdcd7a;
}

/* ++++++++++++++ intro section ++++++++++++++ */


.intro {
    padding: 0 3rem;
    margin: 8rem 0 15rem;
}

.intro-heading {
    font-size: var(--font-size-xxl);
    width: 50%;
    line-height: 1.4;
    color: var(--text-color-white);
}

.intro-para {
    font-size: var(--font-size-m);
    width: 30%;
    color: var(--text-color-gray);
    line-height: 1.5;
    margin: 2rem 0;
}

.intro-btn {
    padding: 1rem 2rem;
    font-size: var(--font-size-s);
    background-color: var(--btn-color);
    border :2px solid var(--btn-color);
    border-radius: var(--border-radius-btn);
    color: var(--text-color-white);
    font-weight: 600;
    transition: var(--transition);
}

.intro-btn:hover{
    background-color: var(--text-color-white);
    color: var(--btn-color);
}


/* 
    +++++++++++++++++++++
        Main Section
    +++++++++++++++++++++
 */

main {
    background-color: var(--bgcolor);
}

/*  ++++++++++++++ partners logo section ++++++++++++++ */

.partners-logo {
    margin: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 3rem 0.5rem;
    border-radius: var(--border-radius-compo);
    position: relative;
    top : -5rem;
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
}

.partners-logo img {
    max-width: 30%;
}

 /* ++++++++++++++ Best Estate Section ++++++++++++++ */

.best-estate-heading {
    font-size: var(--font-size-xl);
    text-align: center;
    margin: 0.5rem auto;
    width: 30%;
    line-height: 1.5;
    color: var(--heading-color-dark);
}

.best-estate-examples {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 12rem;
    padding: 10rem 7rem;
}

.best-es {
    height: 50vh;
    border-radius: var(--border-radius-compo);
    box-shadow: var(--box-shadow);
}

.best-es img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    display: block;
    border-radius: var(--border-radius-compo);
}

.house-des {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0rem auto;
    padding: 0.5rem 1.5rem;
    position: relative;
    top:-3rem;
    background-color: #ffffff;
    border-radius: var(--border-radius-compo);
    box-shadow: var(--box-shadow);
}

.h-txt {
    margin: 1rem 0;
    font-weight: 600;
}

.h-name {
    font-size: var(--font-size-m);
    color: var(--heading-color-dark);
}

.h-price {
    font-size: var(--font-size-m);
    color: var(--text-color-price);
}

.detail-btn {
    height: fit-content;
    margin: auto 0;
    padding: 0.5rem 2rem;
    background-color: var(--btn-color);
    color: var(--text-color-white);
    font-size: var(--font-size-m);
    font-weight: 600;
    border: 2px solid var(--btn-color);
    border-radius: var(--border-radius-btn2);
    transition: var(--transition);
    cursor: pointer;
}

.detail-btn:hover {
    background-color: var(--bgcolor);
    color: var(--btn-color);

}

.best-es:nth-child(1) {
    position: relative;
    top: -6rem;
}

.best-es:nth-child(2) {
    position: relative;
    top: -3rem;
}

.best-es:nth-child(5) {
    position: relative;
    top: -3rem;
}

.best-es:nth-child(6) {
    position: relative;
    top: -6rem;
}

.best-es:nth-child(7) {
    position: relative;
    top: -6rem;
}

.best-es:nth-child(8) {
    position: relative;
    top: -3rem;
}

/* +++++++++++++++ Features Section +++++++++++++++ */

.features {
    display: flex;
    justify-content: center;
}

.features {
    padding: 5rem 0;
}

.features img {
    width: 76%;
    height: 80%;
    display: block;
    border-radius: var(--border-radius-compo);
}

.features div {
    width: 50%;
    height: 90vh;
}

.f1-left {
    background-image: url("./Icons/featureImageBg1.svg");
    background-repeat: no-repeat;
    background-position: -54px 0px;
    position: relative;
}

.f1-left img {
    position: absolute;
    top: 0px;
    left: 80px;
    border-radius: var(--border-radius-f-img);
}

.f-txt {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.f-hd {
    font-size: var(--font-size-xl);
    width: 70%;
    line-height: 1.5;
    color: var(--heading-color-dark);
}

.f-para {
    font-size: var(--font-size-m);
    width: 60%;
    line-height: 1.5;
    margin: 1.5rem 0;
    font-weight: 600;
    color: var(--text-color-gray2);
}

.f-btn {
    width: fit-content;
    padding: 1rem 2rem;
    font-size: var(--font-size-m);
    font-weight: 600;
    background-color: var(--btn-color);
    color: var(--text-color-white);
    border: 2px solid var(--btn-color);
    border-radius: var(--border-radius-btn);
    transition: var(--transition);
}

.f-btn:hover {
    background-color: var(--text-color-white);
    color: var(--btn-color);
}

.f2-left * {
    margin-left: 10rem;

}

.f2-right {
    background-image: url("./Icons/featureImageBg2.png");
    background-repeat: no-repeat;
    position: relative;
}

.f2-right img {
    position: absolute;
    left: 60px;
}

/* +++++++++++++++++ Newsletter +++++++++++++++++ */

.newsletter {
    background-color: var(--btn-color);
    padding: 4rem 0;
    border-radius: var(--border-radius-newsletter);
    margin: 5rem 4rem 0;
}

.newsletter h2 {
    font-size: var(--font-size-xl);
    color: var(--text-color-white);
    width: 60%;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
}

.newsletter-para {
    color: var(--text-color-gray-light);
    line-height: 1.5;
    font-size: var(--font-size-m);
    width: 45%;
    text-align: center;
    margin: 2rem auto;
}

.newsletter form{
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

.newsletter form img {
    vertical-align: middle;
}

.newsletter form p {
    background-color: var(--input-bgcolor);
    width: fit-content;
    border-radius: var(--border-radius-btn);
    padding-left: 1rem;
    margin-right: 1rem;
}

.newsletter input {
    background-color: var(--input-bgcolor);
    border-radius: var(--border-radius-btn);
    padding: 1rem 10rem 1rem 1rem;
    outline: none;
    border: none;
    font-size: var(--font-size-m);
    color: var(--text-color-white);
}

.newsletter input::placeholder {
    color: var(--text-color-white);
}

.newsletter button {
    background-color: var(--text-color-white);
    padding: 1rem 2rem;
    border: none;
    border-radius: var(--border-radius-btn);
    font-weight: 600;
    font-size: var(--font-size-m);
    color: var(--btn-color);
}

.newsletter button:hover {
    background-color: #eddadaef;
}

/* 
+++++++++++++++
Footer
+++++++++++++++
*/

footer{
    display: flex;
    justify-content: center;
    gap: 10rem;
    background-color: var(--bgcolor);
    padding: 8rem 0 0;
}

.footer-left div{
    margin: 1rem 0 2rem;
}

.footer-left div img:nth-child(2) {
    margin: 0 1.5rem;
}

.footer-left p{
    font-size: var(--font-size-m);
    color: var(--text-color-dark);
    font-weight: 500;
    width: 55%;
    line-height: 1.7;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right li {
    margin: 0 3rem 2.5rem;
    font-size: var(--font-size-m);
}

.footer-right li a{
    color: var(--text-color-dark);
    font-weight: 500;
    transition: var(--transition);
}

.footer-right li a:hover {
    color: var(--btn-color);
}

.footer-right li:first-child a{
    font-weight: 600;
    color: var(--heading-color-dark);
}