@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, #a84747,#6b105c);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 700px;
  margin: auto;
}

header {
  width: 100%;
  background-color: #100c34;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  margin: .25rem 0;
  padding: .25rem;
  overflow-y: auto;
}

main::-webkit-scrollbar {
  display: none;
}

footer {
  width: 100%;
  padding: .75rem 1rem;
  background-color: #100c34;
  color: #fff;
  display: flex;
  align-items: center;
}



footer p:last-child:hover {
  color: red;
}

ul {
  list-style: none;
  padding: 0.35rem;
  width: 100%;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem 0 .5rem .5rem;
  margin: .5rem 0;
  background-color: #eee;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 24px;
  min-width: 24px;
  height: 1rem;
  min-height: 24px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus+label {
  text-decoration: underline;
}

.item>label {
  font-size: .75rem;
  flex-grow: 1;
  word-wrap: break-word;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.item svg:nth-child(3) :focus,
.item svg:nth-child(3) :hover {
  color: #090950;
  outline: none;
}

.item svg:last-child :focus,
.item svg:last-child :hover {
  color: #ff0000;
  outline: none;
}


.add-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: .25rem 0;
  width: 100%;
  padding: .25rem;
}

.add-form label {
  position: absolute;
  left: -99999px;
}

.add-form input[type="text"] {
  flex-grow: 1;
  max-width: calc(100%-50px);
  min-height: 48px;
  padding: 0.25rem;
  font-size: 1rem;
  margin-right: .25rem;
  outline: none;
  border-radius: 3px;

}

.add-btn {
  font-size: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #e0eefa;
  color: #020279;
  font-size: 1rem;
  padding: 0.5rem;
}

.add-btn:hover,
.add-btn:focus {
  background-color: limegreen;
  color: white;
  outline: none;
}

.form-edit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 0.5rem 0;
  background-color: #eee;
}

.form-edit input {
  flex-grow: 1;
  font-size: 1rem;
  outline: none;
  padding: 0.25rem;
  margin-right: .5rem;
}

.form-edit svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: rgb(32, 196, 32);
  cursor: pointer;
}

.form-edit svg:focus,
.form-edit svg:hover {
  color: rgb(0, 83, 0);
  outline: none;
}