* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    background-color: #151515;
}

/*  header styling */
header {
    background-color: #151515;
    color: #C5C5C5;
    padding: 5px 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 2vw;
}

.end-nav-bar ul li svg {
    fill: #C5C5C5;
    width: 10px;
}

.end-nav-bar ul li:last-child {
    background-image: url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    padding: 0px 20px;
}

.menu-btn {
    display: flex;
    background-color: #151515;
    border: none;
}

.menu-btn svg {
    width: 20px;
    fill: #C5C5C5;
}

.menu-btn {
    display: none;
}

/* Main Section of Page */
main {
    position: relative;
}

/*  Introduction Of Page Section */
.introduction {
    background-color: #151515;
    background-image: url(./Assets/Photos/backCards.png);
    background-repeat: no-repeat;
    background-size: 54%;
    background-position: right -1vw top -4vh;
    position: relative;
    overflow: hidden;
    z-index: 100;
}

img[alt="frontCards"] {
    width: 55vw;
    position: absolute;
    right: 0vw;
    top: 5vh;
    right: -30vh;
}

.introduction-text-area {
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 8vh;
    width: 65%;
    margin: 8%;
}

.introduction-heading {
    font-size: 75px;
    color: #ffffff;
    font-weight: 500;
    line-height: 90px;
}

.introduction-heading span {
    font-weight: 600;
    color: #F637EC;
}

.introduction-para {
    color: #B5B5B5;
    width: 55%;
    padding: 0px 5px;
    font-size: 18px;
    line-height: 25px;
}

.introduction-text-area button {
    border: none;
    width: fit-content;
    background-color: #151515;
    color: #ffffffdd;
    background-image: url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    padding: 5px 40px;
    background-size: 30% 100%;
    font-size: 18px;
}

.user-experience {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-experience div {
    display: flex;
    width: 25%;
}

.user-experience div:last-child {
    margin-left: 5%;
}

.number {
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}

.plus {
    font-size: 40px;
    font-weight: 500;
    color: #F637EC;
}

.usr-exp-span {
    color: #ffffff;
    padding: 0px 10px;
    width: 40%;
    line-height: 20px;
}

/* Parner Logo  Section*/

.partner-logo {
    background-color: #292929;
    display: flex;
    justify-content: space-around;
    padding: 5% 10%;
}

/*  Transaction Section */
.transaction-section {
    background-color: #151515;
}

.trans-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    gap: 5%;
}

.transaction-heading {
    width: 45%;
    font-size: 70px;
    color: #ffffff;
    line-height: 80px;
    font-weight: 500;
}

.transaction-heading span {
    color: #F637EC;
    font-weight: 600;
}

.transaction-para {
    width: 28%;
    color: #B5B5B5;
    font-size: 20px;
    line-height: 30px;
}

.trans-des {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 10% 0%;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}

.trans-des div {
    border: 2px solid #484644;
    width: 19%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    padding: 3% 1%;
}

.trans-des img {
    width: 40%;
}

.t-access {
    position: relative;
    top: -100px;
    background-image: linear-gradient(to left, #484644, #393432)
}

.trans-des div:first-child {
    background-color: #272727;
}

.trans-des div:last-child {
    background-color: #272727;
}

/* Unique Card section */
.unique-card {
    background-color: #FCEFFB;
    background-image: url(./Assets/Photos/VCards.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: top 360px center;
    height: 1100px;
}

.unique-heading {
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
}

.unique-heading span {
    color: #F637EC;
    font-weight: 600;
}

.unique-para {
    width: 40%;
    padding-top: 80px;
    margin: auto;
    font-size: 17px;
    text-align: center;
    color: #353335c4;
    line-height: 22px;
}


/* Customer review Section  */
.customer-review {
    background-color: #151515;
    padding: 10%;
}

.customer-heading {
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    color: #ffffff;
    line-height: 80px;
}

.customer-heading span {
    color: #F637EC;
    font-weight: 600;
}

.customer-para {
    width: 35%;
    margin: 5% auto 10%;
    text-align: center;
    color: #B5B5B5;
}

.review-persons {
    display: flex;
    flex-wrap: wrap;
    margin: auto auto;
    width: 90%;
}

.reviews {
    margin: 5% auto;
    width: 40%;
    padding: 20px 10px;
    color: #ACADAF;
    background-color: #1E1F24;
}

.reviews p {
    margin: 10px 0px;
}

.reviews address {
    font-size: medium;
}

.reviews:first-child {
    background-image: linear-gradient(to left, #535150, #494745, #413E3C);
}

.slide-first-btn {
    width: 85px;
    height: 20px;
    border-radius: 10px;
    background-color: #F637EC;
}

.btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #474346;
}

.slide-btn {
    display: flex;
    margin-top: 5%;
    gap: 10px;
    justify-content: center;
}

/* Card Customing  */
.card-customing {
    position: relative;
    background-color: #151515;
    overflow: hidden;
}

img[alt="back"] {
    position: absolute;
}

img[alt="left"] {
    position: absolute;
    top: 30px;
    right: 0;
}

img[alt="right"] {
    position: absolute;
    top: -10px;
    left: 0;
}

.get-btn {
    background-color: none;
}

.card-customing-txt {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 2;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 5% 0%;
}

.card-customing-txt h1 {
    width: 60%;
    font-size: 50px;
    text-align: center;
    line-height: 65px;
}

.card-customing-txt span {
    color: black;
}

.get-btn {
    background-image: url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 20px;
    margin: 20px auto;
    color: #ffffff;
    font-weight: 600;
}

footer {
    background-color: #151515;
    display: flex;
    margin: 80px 50px;
    align-items: center;
}

.footer-nav-bar {
    margin-left: 200px;
}

.footer-nav-bar ul {
    list-style: none;
    display: flex;

}
.footer-nav-bar li {
    margin-left: 50px;
}

.footer-nav-bar a {
    text-decoration: none;
    color: #DADADA;
    font-size: 14px;
}
.footer-nav-bar a:hover {
    color: #F637EC;
}

/* Media Queries till max width 500px */
@media (max-width:500px) {
    nav {
        justify-content: space-between;
        margin: 0px 20px;
    }

    .middle-nav-bar,
    .end-nav-bar {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .introduction-text-area {
        width: 90vw;
        margin: 10vh auto;
    }

    .trans-intro {
        flex-direction: column;
    }

    .trans-des {
        flex-direction: column;
        margin: auto;
        padding: auto;
        align-items: center;
        gap: 50px;
    }

    .trans-des div {
        border-radius: 5px;
        width: 40%;
        font-size: 18px;
    }

    .t-access {
        position: static;
    }

    .review-persons {
        grid-template-columns: 80%;
        row-gap: 5%;
    }
}